/*CSS DASHBOARD*/

/*lettertype*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*algemeen css*/
body {
    background-color: #1C1D40;
    background-image: url("images/starss.jpg");
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    color: white;
    font-family: Poppins;
}

.titel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

/*MOBILE FIRST DESIGN*/

.grid-container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main1 main1'
    'main2 main2'
    'main3 main3'
    'main4 main4'
    'main5 main5';
    grid-gap: 20px;
}
.grid-container > div {
    padding: 20px;
}

.voorraad {
    grid-area: main1;
}

.snelheid {
    grid-area: main2;
}

.brandstof {
    grid-area: main3;
}

.afstandtijd {
    grid-area: main4;
}

.afbeelding {
    grid-area: main5;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

p {
    text-align: center;
    font-size: 12px;
}

.charts {
    height: 300px;
    margin: auto;
}

.voorraad {
    background-color: #3C3D65;
    border-radius: 15px;
    padding: 5px;
}

.snelheid {
    background-color: #3C3D65;
    border-radius: 15px;
}

.kmh {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: rgb(255, 105, 180);
}

.brandstof {
    background-color: #3C3D65;
    border-radius: 15px;
}

#brandstofbalk {
    background-color: black;
    position: relative;
    margin: 20px;
    max-width: 100%;
    border: 2px solid white;
}

#balk {
    background-color: #BE00FF;
    max-width: 100%;
    height: 30px;
}

#gas {
    font-size: 12px;
    background-color: #1C1D40;
    color: white;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(255, 105, 180);
}

.afstandtijd {
    background-color: #3C3D65;
    border-radius: 15px;
}

.afbeelding {
    background-image: url("images/nasa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 200px;
}


/*tablet formaat */
@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas:
      'main1 main1'
      'main2 main4'
      'main3 main4'
      'main5 main5';
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .chart2 {
        width: 50vw;
    }


    .kmh {
        font-size: 14px;
        font-weight: bold;
    }

    #gas {
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas:
          'main1 main2'
          'main1 main3'
          'main4 main5';
    }


    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .kmh {
        font-size: 60px;
    }
    .charts {
        width: 800px;
    }

    .kmh {
        font-size: 25px;
    }

    #gas {
        font-size: 20px;
    }


@media (min-width: 1920px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas:
            'main1 main2'
            'main1 main5'
            'main3 main4';
    }
